body {
    background-color: #ff87c0;
    background-image: url("http://press.visitphilly.com/uploads/photos/3581_l.jpg");
    background-position: bottom center;
}

.bg-1 { 
    background-color: pink; /* Green */
    color: #ffffff;
}

.bg-2 { 
    background-color: #ff87c0; /* Green */
    color: #ffffff;
}

.bg-3 { 
	background-color: #9d86e8;
    color: #ffffff;
}
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=submit] {
    background-color: #e286e8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9d86e8;
}